.App,input {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

*:focus {
  outline: none;
}

::placeholder {
  color: rgb(211, 209, 203);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(211, 209, 203);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline {
  text-decoration: underline;
}

.purple-text {
  color: #7A63FF;
  font-weight: 600;
}

.app-header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(55, 53, 47, 0.5);
  height: fit-content;
}

.icon-container {
  padding: 24px;
  padding-top: 24px;
}

.double-right-arrows {
  height: 16px;
  width: auto;
}

.folders-indicator-container,.right-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-right: 24px;
  padding-left: 20px;
}

.right-header-container * {
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
}

.folders-indicator-container {
  width: 100%;
}

.folders-indicator-container * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.left-header-container {
  display: flex;
  justify-content: start;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-icon {
  height: auto;
  width: 24px;
}

.small-icon {
  height: auto;
  width: 16px;
}

.tool-bar {
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(55, 53, 47, 0.3);
  padding: 10px;
  color: #D3D3D3;
}

.tool-bar > * {
  gap: 7px;
}

.colored-letter {
  background-color: #c0fce6;
  padding: 5px 8px;
  border-radius: 3px;
  color:#159163;
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

.body-container {
  max-width: 780px;
  padding-top: 50px;
  text-align: left;
}

.app-body {
  padding-right: 30px;
  padding-left: 30px;
}

h1.page-title {
  font-weight: 700;
  font-size: 40px !important;
  margin-top: 50px;
}

hr {
  color: rgba(55, 53, 47, 0.16);
  border-color: rgba(55, 53, 47, 0.16);
  border-bottom: 1px;
}

.body-container p,.body-container input.p-input {
  padding: 3px 2px;
  font-size: 16px !important;
  line-height: 30px;
  margin: 0;
  border: none;
}

input {
  width: 100%;
  height: auto;
  text-align: left;
  overflow-wrap: break-word;
  word-break: break-all
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  gap: 10px;
}

.h1-input, h1{
  font-size: 30px !important;
  font-weight: 600;
  line-height: 39px;
  margin: 0;
  border: none;
}
